.card {
    margin: 20px;
    width: 18rem;
    border-radius: 20px;
    border: 2px solid black;
}
  
.card-title {
    margin-bottom: 15px;
    text-decoration: none;
}

.btn {
    width:29px;
    margin-right: 5px;
}
  
#closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;
}
  
.card-body {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

/*Horizontal*/
@media only screen and (max-width: 960px){
    .min{
        display: flex;
        margin-left: 15px;
        margin-top: 10px;
    }

    .numberMin{
        margin-top: 20px;
        margin-left:-6px
    }

    .iconoClima{
        margin-top: 10px;
        margin-left: -30px;
    }
}

/*Vertical*/
@media only screen and (max-width: 500px){
    .min{
        margin-top: 15px;
        margin-right: 137px;
    }
    .numberMin{
        margin-top:-40px;
        margin-left: -21px;
    }
    .iconoClima{
        margin-top:-130px;
        margin-left:130px
    }
    .card {
        width: 18rem;
        height: 13rem;
    }
}
